{% extends "base.html" %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <dl>
                        {{ form.hidden_tag() }}
                        {{ form.username.label }} {{ form.username(size=20) }}<br>
                        {{ form.password.label }} {{ form.password(size=20) }}<br>
                        {{ form.remember_me.label }} {{ form.remember_me }}<br>
                        {{ form.submit }}
                    </dl>

                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}